:root {
    --blue-color: rgb(80, 80, 244);
}

.vertical-line {
    content: "";
    display: inline-block;
    width: 5px;
    height: 2em;
    background-color: white;
    margin: 0.5em;
    border-radius: 5px;
}

.horizontal-line {
    content: "";
    display: block;
    width: 100%;
    height: 5px; 
    background-color: black;
    margin: 0.5em 0;
    border-radius: 5px;
}

.active-underline {
    display: block;
    width: 3em;
    height: 0.5em;
    background-color: var(--blue-color);
    border-radius: 10px;
    position: relative;
    left: 25px;
    transition:ease-in-out 0.2s;
    transition-property: left width;
}

